@font-face {
  font-family: pixelFont;
  src: url(04B_03__.woff2);
}

h1 {
  font-family: pixelFont;
  text-align: center;
  padding: 1rem;
}

a {
  font-family: pixelFont;
}

 /*bit of css that stylizes the links */
 /* a {
  color: DarkSlateGrey;
  text-decoration: none;
  /*text-transform: uppercase;
}
*/

 body {
   background-color: gainsboro;
   margin: 0px;
 }

 #header{
   overflow: hidden;
 }

 #footer{
   overflow: hidden;
 }

 .w3-top{
   overflow: initial;
 }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-indent: 0px;
  text-align: center;
}

canvas {
   border: 0px solid grey;
   padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a {
  background-color: Grey;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  font-family: monospace;
  font-size: 150%;
  text-indent: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.subtitle {
  border: 7px;
  border-color: Green;
  border-style: double;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: DarkSeaGreen;
}

.ourinfo {
  font-family: monospace;
  font-size: 20px;
  color: Olive;
  text-align: center;
}

.title {
  border: 7px;
  border-style: solid;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-color: black;
  background-color: Tan;
}

ul {
  font-family: monospace;
  font-size: 20px;
}

.orgs {
  font-family: pixelFont;
  font-size: 25px;
  text-indent: 10px;
  color: olive;
}

li {
  font-weight: bold;
}

#preloadfont {
  font-family: pixelFont;
  opacity:0;
  height:0;
  width:0;
  display:inline-block;
}

.memberpics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 350px;
}


/* .centerp {
>>>>>>> 330cb6d84464f4f7e65a772a00e320e25548d9e3
  text-align: center;
  font-family: pixelFont;
  font-size: 95%;
}
