@font-face {
  font-family: pixelFont;
  src: url(quan.ttf);
}

h1 {
  font-family: pixelFont;
  text-align: center;
  padding: 1rem;
}

a {
  font-family: pixelFont;
}

 /*bit of css that stylizes the links */
 /* a {
  color: DarkSlateGrey;
  text-decoration: none;
  /*text-transform: uppercase;
}
*/

 body {
   background-color: gainsboro;
   margin: 0px;
 }

 #header{
   overflow: hidden;
 }

 #footer{
   overflow: hidden;
 }

 .w3-top{
   overflow: initial;
 }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-indent: 0px;
  text-align: center;
}

canvas {
   border: 0px solid grey;
   padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a {
  background-color: Grey;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  font-family: monospace;
  font-size: 150%;
  text-indent: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.subtitle {
  border: 7px;
  border-color: Green;
  border-style: double;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: DarkSeaGreen;
}

.ourinfo {
  font-family: monospace;
  font-size: 20px;
  color: Olive;
  text-align: center;
}

.title {
  border: 7px;
  border-style: solid;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-color: black;
  background-color: Tan;
}

ul {
  font-family: monospace;
  font-size: 20px;
}

.orgs {
  font-family: pixelFont;
  font-size: 25px;
  text-indent: 10px;
  color: olive;
  border: 5px;
  border-style: solid;
  border-color: DarkGreen;
  display:inline-block;
  background-color: white;
}
.orgs2 {
  font-family: pixelFont;
  font-size: 25px;
  text-indent: 10px;
  color: olive;
  border: 5px;
  border-style: solid;
  border-color: SaddleBrown;
  display:inline-block;
  background-color: white;
}
.orgs3 {
  font-family: pixelFont;
  font-size: 25px;
  text-indent: 10px;
  color: olive;
  border: 5px;
  border-style: solid;
  border-color: DarkSlateGrey;
  display:inline-block;
  background-color: white;
}
li {
  font-weight: bold;
}

.memberpics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 350px;
}

.things {
  font-weight: bold;
  font-family: pixelFont;
  font-size: 22px;
  color: DarkGreen;
}
.links {
  font-size: 18px;
  color: white;
  border: 7px;
  border-style: solid;
  border-color: DarkGreen;
  background-color: black;
}

.climatelogo{
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.flexcontainer {
  display: flex;
  align-items: center;
}
@media (max-width: 320px) {
  .flexcontainer {
    display: block;
  }
}
.links2{
  font-size: 10px;
  color: white;
  border: 5px;
  border-style: solid;
  border-color: DarkGreen;
  background-color: black;
}
/* .centerp {
>>>>>>> 330cb6d84464f4f7e65a772a00e320e25548d9e3
  text-align: center;
  font-family: pixelFont;
  font-size: 95%;
}
